---
---

$text: rgb(0, 0, 0);
$background: url("https://i.redd.it/k4o8nz5vfiyy.gif");
$active: rgb(10, 36, 106);

$window-text: rgb(255, 255, 255);
$window-passive-background: gray;
$window-active-background: linear-gradient(90deg, rgb(111, 174, 211), rgb(29, 203, 175));
$window-active-background: linear-gradient(90deg, #ff6ad5, #c774e8, #ad8cff, #8795e8, #94d0ff);

$shade0: rgb(255, 255, 255);
$shade1: rgb(253, 181, 218);
$shade2: rgb(253, 181, 218);
$shade3: rgb(164, 81, 123);
$shade4: rgb(164, 81, 123);

@import 'win-classic';
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

.shell {
  background-size: 100% 100%;
  perspective: 4000px;
  cursor: url("cursor-aesthetic.png"), auto !important;
}

.window {
  outline: 0px solid transparent;
  transform: translateZ(-600px);
  transition: transform 0.5s, outline 1s;
  transform-style: preserve-3d;
}
.window.active {
  outline: 5px solid cyan;
  transform: translateZ(0);
  -webkit-animation: Vaporwave 1s linear infinite;
  -moz-animation: Vaporwave 1s linear infinite;
  animation: Vaporwave 1s linear infinite;
}
.window > header {
  transition: background 1s;
}

@mixin keyframes($animationName)
{
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName}  {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(Vaporwave) {
  0% {
    outline-color: #ced9ed;
  }
  
  20% {
    outline-color: #cfc7fa;
  }

  40% {
    outline-color: #e2c6ee;
  }

  60% {
    outline-color: #efc8dd;
  }

  80% {
    outline-color: #d7e9db;
  }

  100% {
    outline-color: #ced9ed;
  }
}