---
---

$text:                      rgb(0,0,0);
$background:                rgb(0,124,120);
$active:                    rgb(0,0,120);

$window-text:               rgb(255,255,255);
$window-passive-background: linear-gradient(90deg, rgb(120,124,120), rgb(176,176,176));
$window-active-background:  linear-gradient(90deg, rgb(0,0,120), rgb(8,128,200));

$shade0:                    rgb(255,255,255);
$shade1:                    rgb(184,188,184);
$shade2:                    rgb(184,188,184);
$shade3:                    rgb(120,124,120);
$shade4:                    rgb(0,0,0);

@import 'win-classic';