body {
  background-color: #f8f9fa !important
}

.switcher {
  margin: auto;
  width: initial;
}

.sakura-container {
  max-width: 30rem;
}

.sakura-card {
  margin: 20px 0px;
  padding: 20px;
}