$window-shades: rgb(255, 255, 255),
rgb(212,208,200),
rgb(212,208,200),
rgb(128,128,128),
rgb(0,0,0);
$active: rgb(10,36,106);
$background: rgb(58,110,165);

$inactive-window-title-background: linear-gradient(90deg, rgb(120,124,120), rgb(176,176,176));
$active-window-title-background: linear-gradient(90deg, rgb(10,36,106), rgb(166,202,240));

@import './_win-classic';