$window-shades: rgb(255,255,255),
rgb(223,223,223),
rgb(192,192,192),
rgb(128,128,128),
rgb(0,0,0);
$active: rgb(0,0,128);
$background: rgb(0,128,128);

$inactive-window-title-background: linear-gradient(90deg, rgb(120,124,120), rgb(176,176,176));
$active-window-title-background: linear-gradient(90deg, rgb(0,0,128), rgb(16,132,208));

@import './_win-classic';