.splash {
  display: block;
  height: 247px;
  width: 400px;
  background: url("/assets/img/app/splash.png");
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

#sakura-time,
.resizable-helper {
  min-width: 240px;
  min-height: 532px;
}