@import 'win-classic-graphics';

$text:                      rgb(0,0,0) !default;
$background:                rgb(87,168,168) !default;
$active:                    rgb(0,0,168) !default;

$window-text:               rgb(255,255,255) !default;
$window-active-background:  rgb(0,0,168) !default;

$shade0:                    rgb(255,255,255) !default;
$shade1:                    rgb(192,199,200) !default;
$shade2:                    rgb(192,199,200) !default;
$shade3:                    rgb(135,136,143) !default;
$shade4:                    rgb(0,0,0) !default;


body {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

*, ::after, ::before {
  box-sizing: border-box;
  user-select: none;
  -moz-user-select: none;
}

/*
  Shell
*/

.shell {
  display: block !important;

  width: 100vw;
  height: 100vh;
  margin: 0px;

  color: $text;
  background: $background;
  font-size: 12px;
  font-family: "Microsoft Sans Serif", sans-serif !important;
  cursor: url("cursor.png"), auto !important;
}

.shell * {
  cursor:inherit;
}


/* 
  Window 
*/

.window {
  position: fixed !important;
  padding: 2px;
  display: inline-block;

  background: $shade2;
  border-radius: 0px;
  border-top: 1px solid $shade1;
  border-left: 1px solid $shade1;
  border-bottom: 1px solid $shade4;
  border-right: 1px solid $shade4;
}

.window:before {
  pointer-events: none;
  content: "";
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  border-top: 1px solid $shade0;
  border-left: 1px solid $shade0;
  border-bottom: 1px solid $shade3;
  border-right: 1px solid $shade3;
}

.window.active {
  z-index: 1;
}

.window > header {
  position: relative;
  color: $window-text;
  background: $window-passive-background;
  font-weight: bold;

  padding: 0px 20px;
  height: 18px;
  line-height: 18px;
}

.window > header:before {
  content: "";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  left: 1px;
  top: 1px;
  background: url("../../favicon.ico");
}

.window > header:after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  right: 16px;
  top: 1px;
  background: transparent;
  box-shadow: $graphics-button-close;
}

.window.active > header {
  background: $window-active-background;
}

.window > main {
  margin: 0;
  padding: 2px 4px;
}

.window > footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.window > footer > .well {
  position: relative;
  flex-grow: 1;
  margin: 0px 2px 2px 2px;
  padding: 2px;
  border-top: 1px solid $shade3;
  border-left: 1px solid $shade3;
  border-bottom: 1px solid $shade0;
  border-right: 1px solid $shade0;
}

.ui-resizable-e {
  position: absolute;
  width: 4px;
  height: 100%;
  right: 0px;
  top: 0;
  bottom: 0;
  display: block;
  cursor: url("cursor-resize-e.png") 8 0, auto !important;
}

.ui-resizable-s {
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0px;
  left: 0;
  right: 0;
  display: block;
  cursor: url("cursor-resize-s.png") 0 8, auto !important;
}

.ui-resizable-se {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 0px;
  right: 0px;
  display: block;
  cursor: url("cursor-resize-se.png") 8 8, auto !important;
}

.ui-resizable-se:before {
  content: '';
  display: block;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $graphics-resize-handle;
}

.resizable-helper {
  display: block;
  border: 30px solid;
  border-image-source: url("resize-border.png");
  border-image-slice: 4;
  border-image-width: 4px 4px;
  border-image-repeat: round repeat;
}


/*
  Window structure
*/

fieldset {
  z-index: 2;
  position: relative;
  margin: 12px;
  border: none;
  background: transparent;
  box-shadow:
    -1px -1px 0 0px $shade3,
    0 0 0 1px $shade0 inset,
    0px 0px 0 0px $shade0,
    -1px -1px 0 1px $shade3 inset;
  background: none;
}

legend {
  padding: 0px 2px;
  background: $shade2;
}

.row {
  margin: 0 -2px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.col {
  flex-basis: 0;
  -webkit-box-flex: 1;
  flex-grow: 1;
}

hr {
  margin: 0;
  padding: 0;
  border-top: 1px solid $shade3;
  border-bottom: 1px solid $shade0;
}

label {
  display: block;
  margin: 3px 4px;
}


/*
  Inputs
*/

input,
select,
.ui-selectmenu-button {
  position: relative;
  width: calc(100% - 6px);
  height: 19px;
  display: block;
  margin: 3px 4px;
  padding: 1px;

  background: $shade0;
  color: $shade4;
  border-radius: 0px;
  border-top: 1px solid $shade4;
  border-left: 1px solid $shade4;
  border-bottom: 1px solid $shade2;
  border-right: 1px solid $shade2;

  user-select: text;
  -moz-user-select: text;
}

input,
select,
input:focus,
select:focus,
.ui-selectmenu-button {
  outline: none;
  box-shadow:
    0.5px 0.5px 0 0.5px $shade0,
    0 0 0 1px $shade3;
}

button,
button:focus {
  outline: none;
}

select,
.ui-selectmenu-button {
  padding: 0px 20px 0px 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  white-space: nowrap;

  background-image: url("dropdown.png");
  background-color: $shade0;
  background-repeat: no-repeat;
  background-position: bottom right; 
}

select:active,
.ui-selectmenu-button:active {
  background-image: url("dropdown-pressed.png");
}

.ui-selectmenu-text {
  position: absolute;
  left: 1px;
  right: 17px;
  top: 1px;
  bottom: 1px;
  padding-left: 1px;
}

.ui-selectmenu-menu ul li:hover,
.ui-selectmenu-button:focus:not(.ui-selectmenu-button-open) > .ui-selectmenu-text {
  color: $shade0;
  background: $active;
  border: 1px dotted #f8fc80;
}

.ui-selectmenu-menu {
  visibility: hidden;
  display: block;
  width: 200px;
  border: 1px solid $shade4;
  background: $shade0;
  z-index: 200;
}

.ui-selectmenu-menu.ui-selectmenu-open {
  visibility: visible;
}

.ui-selectmenu-icon {
  display: none;
}

.ui-selectmenu-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ui-selectmenu-menu ul li {
  padding: 2px;
}

.ui-selectmenu-menu ul li:hover {
  padding: 1px;
}

input:disabled,
select:disabled,
.disabled {
  color: $shade3 !important;
  background: $shade2;
}

::-moz-selection {
  color: $shade0;
  background: $active;
}

::selection {
  color: $shade0;
  background: $active;
}


/*
  Time inputs
*/


input[type="text"],
input[data-type="time"] {
  cursor: url("cursor-text.png"), auto !important;
}

input[data-type="time"] {
  margin: 0px;
  width: calc(100% - 16px);
}

.time-input-group {
  position: relative;
  display: block;
  margin: 3px 2px 3px 4px;
}

.time-increase,
.time-decrease {
  position: absolute;
  right: -2px;
  height: 10px;
  width: 16px;
  padding: 0;

  background: none;
  border: none;
}

.time-increase {
  top: 0px;
}

.time-decrease {
  top: 10px;
}

.time-increase:before,
.time-decrease:before {
  content: '';
  display: block;
  width: 1px;
  height: 1px;
  background: transparent;
  position: relative;
  left: -2px;
  top: -6px;
}

.time-increase:before {
  box-shadow: $graphics-button-increase;
}

.time-decrease:before {
  box-shadow: $graphics-button-decrease;
}

.time-increase.active:before {
  box-shadow: $graphics-button-increase-active;
}

.time-decrease.active:before {
  box-shadow: $graphics-button-decrease-active;
}


/*
  Window restrictions
*/

#sakura-time,
.resizable-helper {
  min-width: 240px;
  min-height: 490px;
}